/* start componenets */
.cairo {
    font-family: 'Cairo', sans-serif;
}
.hed {
    font-family: 'Playfair Display', serif;
}
.bio {
    font-family: 'Montserrat', sans-serif;
}
.main-title {


    padding: 10px 20px;
    margin: 0 auto 40px;
    width: fit-content;
    border: 5px solid black;
    font-size: 70px;
    position: relative;
    z-index: 1;
    transition: 0.3s;
    border-radius: 6px;
    height: fit-content;
}
.main-title::before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -55px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::after {
    content: "";
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.main-title:hover::before {
    z-index: -1;
    animation: left-move linear 0.4s forwards ;
    border-radius: 6px;

}
.main-title:hover::after {
    z-index: -1;
    animation: right-move linear 0.4s forwards ;
    border-radius: 6px;

}
.main-title:hover {
    color: white;
    border: 2px solid black;
    transition-delay: 0.4s;
    box-shadow: 2px 2px 30px black ;
    border-radius: 6px;

}
/* end componenets */
/* start global rules  */
* {
margin: 0;
padding: 0;
list-style-type:  none ;
text-decoration: none;
}
:root {
--font-logo: 'Tilt Prism', cursive;    
--font-paragrapgh:'Fraunces', serif;
--font-alt:'Montserrat', sans-serif;
}
.container {
    padding-left: 5px;    
    padding-right: 5px;
    margin-left: auto;    
    margin-right: auto;    
}
/* small  */
@media(min-width:768px) {
    .container {
        width: 100%;
    }    
    }
html {
scroll-behavior: smooth;
}
body {
    text-transform: capitalize;
    background-color: white;
}
/* end global rules  */
.header .container {
display: flex;
justify-content: center;
align-items: center;
color: black;
border-bottom: 5px black solid;
margin-top: 10px;
padding: 10px;
font-family: var(--font-alt);
}
.header .container a {
        color: black;
    margin-bottom: 10px;
    font-size: 70px;
    letter-spacing: 3px;


}
.header.container i {
    font-size: 16px;
}
.landing {
    height: 100vh;
    position: relative;
    background-color: rgba(128, 128, 128, 0.059);
    margin-bottom: 50px;
    background-image: url(../images/llaaaaa.jpg);
}
@media (min-width:420px) {
    .landing {
        background-size: cover;
    }
    
}
.landing .container {
height: calc(100vh - 51.33px);
display: flex;
flex-direction: column;
position: relative;

}
.landing .container .text {
text-align: center;
    color: rgb(53 48 48);
    background-color: #978e8e8e;
    margin-top: 10px;
    border-radius: 8px;
    /* padding: 10px; */
    font-size: 45px;
}
.landing .container .text h1 {
    margin-top: 5px;
    color: #216421;

}
.landing .container .text p {
    line-height: 1.6;
    color: white;
}
.landing .container img {
width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    margin-top: 6%;
}
.landing .container a {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 110px;
    color: black;
    animation: infinite 0.8s alternate go-down;

}
.products {
    position: relative;
}
.products .container {
    display: flex;
    flex-direction: column;
}
.products .product {
    border-radius: 6px;
    background-image: url(../images/pbb.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding: 20px;
}
.products .container .image {
    padding: 5px 1px;
    text-align: center;
}
.products .container .image img {
max-width: 100%;
border-radius: 12px;
border: 3px solid rgba(255, 255, 255, 0.568);
margin-top: 15px;
}

.products .container .caption {
    color: white;
    font-size: 45px;
    text-align: center;
    line-height: 1.8;
    direction: rtl;
    margin: 0 4px;
    background-color: rgba(128, 128, 128, 0.253);
    border-radius: 8px;
}
.products .caption .price {
    color:white;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 1px;
    direction: ltr;
}
/* start footer  */
.footer {
    background-color: #191919;
    padding: 70px  0 0;
    text-align: center;
    }

    .footer .container {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(750px,1fr));
        gap: 40px;
    }
    .footer .box h3 {
    color: white;
    font-size: 80px;
    margin: 0 0 20px;
    align-self: center;
    text-align: center;
    }
    .footer .box .social {
        display: flex;
        justify-content: center;

    }
 
    .footer .box .social li {
    margin-right: 10px;
    }
    .footer .box .social li a {
    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: white;
    font-size: 50px;
    width: 100px;
    height: 100px;
    transition: 0.3s;
    border-radius: 12px;
    }
    .footer .box .social .facebook {
        background-color: #1877f2;
    }
    .footer .box .social .twitter {
        background: #f09433; 
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
        background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );    }

    .footer .box .text {
        margin-top: 15px;
        line-height: 2;
        color: white;
    }
 
    .footer .box .line {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        color:white;
        flex-direction: column;

    }

    .footer .box .line i {
    margin-right: 10px;
    color: white;
    font-size: 50px;
    margin-right: 0;
    margin-bottom: 15px;
    }

    .footer .box .line .info {
    line-height: 1.7;
    font-size: 50px;
    }
    .footer .box .line .info span {
        display: block;
    }

    .footer .copyright {
        padding: 25px 0;
        text-align: center;
        color: white;
        margin: 20px 0  0;
        border-top: 1px solid white;
        font-size: 16px;
        }
        .footer .copyright  i {
        color:white;
        margin: 0 3px;
        }
        .footer .ziad-info {
        color: white;
        border-top: 1px solid white;
        padding: 25px 0;
        text-align: center;
        line-height: 1.6;
        font-size: 16px;
        }
        .footer .ziad-info i {
        color: white;
        margin-left: 3px;
        }
    /* end footer  */



/* animation */
@keyframes go-down {
    0% {
    scale: 1;    
    } 
    50% {
    scale: 0.9;
    }
    100% {
    scale: 1.1;    
    }
    
    }
    @keyframes left-move {
        50% {
            left: 0;
            width: 12px;    
            height: 12px;
        }
    
    
        100% {
            left: 0;
            width: 101%;
            height: 101%;
            border-radius: 0;
        }
    }
    @keyframes right-move {
        50% {
            right: 0;
            width: 12px;
            height: 12px;
        }
        100% {
            right: 0;
            width: 101%;
            border-radius: 0;
            height: 101%;
        }
    }
    /* animation */
